*{
  padding:0;
  margin:0;
  box-sizing:border-box;} 
  body{background:#ccc;
	  
  }
  .container{
	         width:90%;
			 margin:auto;
     	   }
.head h4{color:blue;	  
}.head{ 
		padding:15px;	
	    text-align:center;
}
.row{
	 display:flex;
	 flex-wrap:wrap;
}
.col{
	 font-family:arial;
	width:33.33%;
      padding:0 15px;
	
}
.fullset{
	   margin:15px 0;
	   box-shadow:0px 0px 10px white;
}
 .img-sec {
	     overflow:hidden;
	     position:relative;
		 
 }
.img-sec h3{
	 position:absolute;
	 top:10px;
	 left:10px;
	 background-color:white;
	 color:blue;
 }
 .img-sec i{
	 position:absolute;
	  background-color:#ccc;
	 padding:5px;
	 border-radius:50%;
	 display:flex;
	 top:10px;
	 right:10px;
	 font-size:25px;
	 color:white;
	 
 }
 .content{
	   padding:15px;
 }
 .icon-text{
	 padding:5px 25px;
 }
 .icon-text span{
	 padding:12px;
	color:gray;
	}
.rio h3{
			 padding:15px 0;
		 }
.icon span{
			  padding:0 15px;
		 }
.icon i{
			 color:yellow;
		 }
.icon{padding-bottom:15px;
	 border-bottom:1px solid black;
	 width:100%;
}
img{
	transition:1s;
}
img:hover{ 
          transform:scale(1.2);
	
}
.last{
	display:flex;
	justify-content:space-between;
    padding:15px 0;
	position:relative;
}
.last i{
	 color:gray;
	 padding:0 5px;
}
.last b{
	  font-size:18px;
	  color:blue;
	  position:relative;
}
del{position:absolute;
	font-size:10px;
	left:60px;
	top:20px;
}
.course{
	background-color:blue;
	color:white;
	padding:15px 15px;
	border-radius:5%;

}
.course span{
	
	padding-left:5px;
}
.set{
	margin-left:40%;
}
.course a{
			text-decoration:none;
			color:white;
}